HOST=http://localhost:8080 # this will be the url on production. Example: https://nuxt-3-template.new-web-supported-staging.linode.unep-wcmc.org/
SITE_TITLE=Nuxt 3 Template
SITE_DESCRIPTION=SITE_DESCRIPTION
AZURE_AD_CLIENT_ID= # Only needed if your project needs to have Auzre SSO
AZURE_AD_CLIENT_SECRET= # Only needed if your project needs to have Auzre SSO
AZURE_AD_TENANT_ID= # Only needed if your project needs to have Auzre SSO
NUXT_SECRET= # Anything would do for here, or use generator https://jwt.io/
RAILS_API_SERVER=