{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "import/first": "off",
    "vue/no-multiple-template-root": "off",
    "@typescript-eslint/no-var-requires": "off",
    "vue/multi-word-component-names": 0,
    "vue/no-v-html": 0,
    "no-console": 0
    // "no-console": [
    //   "error",
    //   {
    //     "allow": ["warn", "error"]
    //   }
    // ],
    //
    // "vue/no-v-text-v-html-on-component": 0,
    // "invalid-first-character-of-tag-name": 0
  }
}
