shamefully-hoist=true
strict-peer-dependencies=false
# To download @unepwcmc packages use the following
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry#installing-a-package
@unepwcmc:registry=https://npm.pkg.github.com
